<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <div class="modul-1">
        <a class="footer-link" href="#about-us">About us</a>
        <a class="footer-link" href="#our-collection">Our collection </a>
      </div>
      <div class="modul-2">
        <a class="footer-link" href="#customer-order">CUSTOMER ORDER</a>
        <a class="footer-link" href="#estimonials">Estimonials</a>
      </div>
    </nav>
    <p class="footer-text">
      A touch of <span class="footer-span">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
