<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="" class="site-logo">
        <svg class="site-logo-img">
          <use></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="" class="header-nav-list-link">ABOUT US</a> 
        </li>
        <li class="header-nav-list-item">
          <a href="" class="header-nav-list-link">OUR COLLECTION</a>
        </li>
        <li class="header-nav-list-item">
          <a href="" class="header-nav-list-link">CUSTOMER ORDER</a>
        </li>
        <li class="header-nav-list-item">
          <a href="" class="header-nav-list-link">TESTIMONIALS</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <a href="tel:+380684439426" class="header-address-item">+380 (68) 443-94-26</a>
    </address>
    <ul class="header-networks-list">
      <li class="header-network">
        <a href="" class="header-network-link">
          <svg class="header-network-link-img">
            <use href="../img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-network">
        <a href="" class="header-network-link">
          <svg class="header-network-link-img">
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-network">
        <a href="" class="header-network-link">
          <svg class="header-network-link-img">
            <use href="../img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="modal-window-open-btn">
      <svg class="modal-window-open-btn-img">
        <use href="../img/sprite.svg#icon-open-modal"></use>
      </svg>
    </button>
  </div>
</header>
