<section class="hero-section">
  <div class="container hero-container">
    <img
      class="img-girl"
      srcset="../img/hero-img/girl@2x.jpg 2x"
      src="../img/hero-img/girl.jpg"
      alt="girl"
      width="392"
      height="545"
    />
    <div class="hero-title">
      <h1 class="hero-name">
        Reviving the traditional
        <span class="hero-name-text">Ukrainian</span>
        artistry in every stitch.
      </h1>
      <button class="hero-button" type="button">
        Order
        <svg
          class="hero-button-arrow"
          width="26"
          height="10"
          aria-label="hero button arrow"
        >
          <use href="../img/sprite.svg#icon-untitled"></use>
        </svg>
      </button>
    </div>
    <div class="hero-sun">
      <svg
        class="hero-icon-sun"
        width="52"
        height="51"
        aria-label="hero icon sun"
      >
        <use href="../img/sprite.svg#icon-Star-10"></use>
      </svg>
      <p class="hero-sun-text">all embroidery is made by hand</p>
    </div>
  </div>
</section>
