<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-title">
      <div class="hero-title-name">
        <h1 class="hero-name">
          Reviving the traditional
          <span class="hero-name-text">Ukrainian</span>
          artistry in every stitch.
        </h1>
        <button class="hero-button" type="button">
          Order
          <svg
            class="hero-button-arrow"
            width="26"
            height="10"
            aria-label="hero button arrow"
          >
            <use href="../img/sprite.svg#icon-untitled"></use>
          </svg>
        </button>
      </div>
      <img
        class="img-girl"
        srcset="
          ../img/hero/hero-girl-ds.jpg     392w,
          ../img/hero/hero-girl-ds@2x.jpg  784w,
          ../img/hero/hero-girl-tb.jpg     413w,
          ../img/hero/hero-girl-tb@2x.jpg  826w,
          ../img/hero/hero-girl-mob.jpg    335w,
          ../img/hero/hero-girl-mob@2x.jpg 770w
        "
        sizes="(min-width: 1440px) 392px, (min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
        src="../img/hero/hero-girl-ds.jpg"
        alt="girl"
      />
    </div>
    <div class="hero-images">
      <div class="hero-sun">
        <svg
          class="hero-icon-sun"
          width="52"
          height="51"
          aria-label="hero icon sun"
        >
          <use href="../img/sprite.svg#icon-Star-10"></use>
        </svg>
        <p class="hero-sun-text">all embroidery is made by hand</p>
      </div>
      <div class="hero-map">
        <img
          class="hero-map-img"
          srcset="
            ../img/hero/hero-map-ds.png    143w,
            ../img/hero/hero-map-ds@2x.png 286w,
            ../img/hero/hero-map-tb.png    157w,
            ../img/hero/hero-map-tb@2x.png 314w
          "
          sizes="(min-width: 1280px) 157px, (min-width: 768px) 139px"
          src="../img/hero/hero-map-ds.png"
          alt="hero map"
        />
      </div>
    </div>
  </div>
</section>
