<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-title">
      <h1 class="hero-name">
        Reviving the traditional
        <span class="hero-name-text">Ukrainian</span>
        artistry in every stitch.
      </h1>
      <button class="hero-button" type="button">
        Order
        <svg
          class="hero-button-arrow"
          width="26"
          height="10"
          aria-label="hero button arrow"
        >
          <use href="../img/sprite.svg#icon-untitled"></use>
        </svg>
      </button>
      <img
        class="img-girl"
        srcset="392w, 784w, 413w, 826w, 335w, 670w"
        sizes="(min-width: 1440px) 392px, (min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
        src=""
        alt="girl"
      />
    </div>
    <div class="hero-sun">
      <svg
        class="hero-icon-sun"
        width="52"
        height="51"
        aria-label="hero icon sun"
      >
        <use href="../img/sprite.svg#icon-Star-10"></use>
      </svg>
      <p class="hero-sun-text">all embroidery is made by hand</p>
    </div>
  </div>
</section>
