<section class="our-collection">
  <div class="container">
    <h2 class="our-collection-tittle">Our collection</h2>
    <ul class="card-list">
      <li class="card">
        <img
          class="foto-card fon"
          srcset="
            ../img/collection/collection-1-ds.jpg     347w,
            ../img/collection/collection-1-ds@2x.jpg  694w,
            ../img/collection/collection-1-tb.jpg     342w,
            ../img/collection/collection-1-tb@2x.jpg  684w,
            ../img/collection/collection-1-mob.jpg    335w,
            ../img/collection/collection-1-mob@2x.jpg 670w
          "
          sizes="
                 (min-width: 1280px) 347px, 
                 (min-width: 768px) 342px,
                 (max-width: 767px) 335px
                 "
          src="../img/collection/collection-1-ds.jpg"
          alt="AUGUST Poltava 3300 UAH"
        />
        <h3 class="card-name">AUGUST Poltava women's blouseRING</h3>
        <p class="price">3300 UAH</p>
      </li>
      <li class="card">
        <img
          class="foto-card"
          srcset="
            ../img/collection/collection-2-ds.jpg     347w,
            ../img/collection/collection-2-ds@2x.jpg  694w,
            ../img/collection/collection-2-tb.jpg     342w,
            ../img/collection/collection-2-tb@2x.jpg  684w,
            ../img/collection/collection-2-mob.jpg    335w,
            ../img/collection/collection-2-mob@2x.jpg 670w
          "
          sizes="
                 (min-width: 1280px) 347px, 
                 (min-width: 768px) 342px,
                 (max-width: 767px) 335px
                 "
          src="../img/collection/collection-2-ds.jpg"
          alt="Women's blouse Gorgany 3350 UAH"
        />
        <h3 class="card-name">Women's blouse Gorgany</h3>
        <p class="price">3350 UAH</p>
      </li>
      <li class="card">
        <img
          class="foto-card"
          srcset="
            ../img/collection/collection-3-ds.jpg     347w,
            ../img/collection/collection-3-ds@2x.jpg  694w,
            ../img/collection/collection-3-tb.jpg     342w,
            ../img/collection/collection-3-tb@2x.jpg  684w,
            ../img/collection/collection-3-mob.jpg    335w,
            ../img/collection/collection-3-mob@2x.jpg 670w
          "
          sizes="
                 (min-width: 1280px) 347px, 
                 (min-width: 768px) 342px,
                 (max-width: 767px) 335px
                 "
          src="../img/collection/collection-3-ds.jpg"
          alt="Mountain men's shirt 3300 UAH"
        />
        <h3 class="card-name">Mountain men's shirt</h3>
        <p class="price">3300 UAH</p>
      </li>
      <li class="card">
        <img
          class="foto-card"
          srcset="
            ../img/collection/collection-4-ds.jpg     347w,
            ../img/collection/collection-4-ds@2x.jpg  694w,
            ../img/collection/collection-4-tb.jpg     342w,
            ../img/collection/collection-4-tb@2x.jpg  684w,
            ../img/collection/collection-4-mob.jpg    335w,
            ../img/collection/collection-4-mob@2x.jpg 670w
          "
          sizes="
                 (min-width: 1280px) 347px, 
                 (min-width: 768px) 342px,
                 (max-width: 767px) 335px
                 "
          src="../img/collection/collection-4-ds.jpg     "
          alt="Men's shirt Yasen 1700 UAH"
        />
        <h3 class="card-name">Men's shirt Yasen</h3>
        <p class="price">1700 UAH</p>
      </li>
      <li class="card">
        <img
          class="foto-card"
          srcset="
            ../img/collection/collection-5-ds.jpg     347w,
            ../img/collection/collection-5-ds@2x.jpg  694w,
            ../img/collection/collection-5-tb.jpg     342w,
            ../img/collection/collection-5-tb@2x.jpg  684w,
            ../img/collection/collection-5-mob.jpg    335w,
            ../img/collection/collection-5-mob@2x.jpg 670w
          "
          sizes="
                 (min-width: 1280px) 347px, 
                 (min-width: 768px) 342px,
                 (max-width: 767px) 335px
                 "
          src="../img/collection/collection-5-ds.jpg"
          alt="Women's blouse Crimea 4000 UAH"
        />
        <h3 class="card-name">Women's blouse Crimea</h3>
        <p class="price">4000 UAH</p>
      </li>
      <li class="card">
        <img
          class="foto-card"
          srcset="
            ../img/collection/collection-6-ds.jpg     347w,
            ../img/collection/collection-6-ds@2x.jpg  694w,
            ../img/collection/collection-6-tb.jpg     342w,
            ../img/collection/collection-6-tb@2x.jpg  684w,
            ../img/collection/collection-6-mob.jpg    335w,
            ../img/collection/collection-6-mob@2x.jpg 670w
          "
          sizes="
                 (min-width: 1280px) 347px, 
                 (min-width: 768px) 342px,
                 (max-width: 767px) 335px
                 "
          src="../img/collection/collection-6-ds.jpg"
          alt="Men's shirt Verkhovina 3100 UAH"
        />
        <h3 class="card-name">Men's shirt Verkhovina</h3>
        <p class="price">3100 UAH</p>
      </li>
    </ul>
  </div>
</section>
