<section class="container testimonials-block" id="testimonials">
  <h2 class="h-two-style">Testimonials</h2>
  <ul class="cards-direction">
    <li class="testimonials-card-mobile">
      <div class="testimonials-card-wrapper">
        <div class="testimonials-card">
          <div class="testimonials-img-wrapper">
            <img
              class="testimonials-img"
              srcset="
                ./img/testimonials/testimonial-1.png    1x,
                ./img/testimonials/testimonial-1@2x.png 2x
              "
              src="./img/testimonials/testimonial-1.png"
              alt="testimonials avatar"
              width="64px"
              height="64px"
            />
          </div>
          <h3 class="h-three-style">Maria Tkachuk</h3>
          <p class="p-style">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </div>
    </li>
    <li class="testimonials-card-tablet">
      <div class="testimonials-card-wrapper">
        <div class="testimonials-card">
          <div class="testimonials-img-wrapper">
            <img
              class="testimonials-img"
              srcset="
                ./img/testimonials/testimonial-2.png    1x,
                ./img/testimonials/testimonial-2@2x.png 2x
              "
              src="./img/testimonials/testimonial-2.png"
              alt="testimonials avatar"
              width="64px"
              height="64px"
            />
          </div>
          <h3 class="h-three-style">Sergey Rybachok</h3>
          <p class="p-style">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </div>
    </li>
    <li class="testimonials-card-desktop">
      <div class="testimonials-card-wrapper">
        <div class="testimonials-card">
          <div class="testimonials-img-wrapper">
            <img
              class="testimonials-img"
              srcset="
                ./img/testimonials/testimonial-3.png    1x,
                ./img/testimonials/testimonial-3@2x.png 2x
              "
              src="./img/testimonials/testimonial-3.png"
              alt="testimonials avatar"
              width="64px"
              height="64px"
            />
          </div>
          <h3 class="h-three-style">Natalia Chatuk</h3>
          <p class="p-style">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
