<section class="your-order" id="#customer-order">
  <div class="container">
    <img srcset="
        ../img/order/order-girl-ds.jpg      524w,
        ../img/order/order-girl-ds@2x.jpg  1048w,
        ../img/order/order-girl-tb.jpg      638w,
        ../img/order/order-girl-tb@2x.jpg  1276w,
        ../img/order/order-girl-mob.jpg     375w,
        ../img/order/order-girl-mob@2x.jpg  750w
      " sizes="(min-width:1280px) 524px,
      (min-width: 768px) 638px,
      (min-width: 768px) 375px
      " src="../img/order/order-girl-ds.jpg" alt="girl" />
    <div class="container-for-vesta">
      <div class="tittle-and-form">
        <h2 class="order-tittle">
          <span class="order-spam">Your order</span> is our priority:
          Personalized approach and quality of service
        </h2>
        <form class="form" name="issue_report_form" autocomplete="off">
          <div class="form-margin">
            <label class="form-label" for="user-name"></label>

            <input class="form-input" type="text" name="user-name" id="user-name" pattern="^[a-zA-Z]+$" required
              aria-label="human" placeholder="Enter your full name" />
          </div>

          <div class="form-margin">
            <label class="form-label" for="user-email"></label>

            <input class="form-input" type="text" name="user-email" id="user-email"
              pattern="^[a-zA-Z 0-9 . ( ) + - @ ! # $ % & * ? /]+$" required aria-label="mail"
              placeholder="Enter your email" />
          </div>
          <div class="form-comment">
            <label class="form-label" for="user-comment"></label>
            <textarea class="form-textarea" name="user-comment" id="user-comment" placeholder="Comments"></textarea>
          </div>
          <!-- <button class="form-button" type="submit">
            <div class="send">
              send
              <svg class="icon" width="26" height="19">
                <use href="../img/sprite.svg#icon-untitled"></use>
              </svg>
            </div>
          </button> -->
          <button class="form-button" type="submit">
            send
            <svg class="order-icon" width="26" height="19">
              <use href="../img/sprite.svg#icon-untitled"></use>
            </svg>
          </button>
        </form>
      </div>

      <img class="order-vesta" srcset="
          ../img/order/order-vesta-ds.jpg     524w,
          ../img/order/order-vesta-ds@2x.jpg 1048w,
          ../img/order/order-vesta-tb.jpg     638w,
          ../img/order/order-vesta-tb@2x.jpg 1276w
        " sizes="(min-width:1280px) 524px,
      (min-width: 768px) 638px" src="../img/order/order-vesta-ds.jpg" alt="vesta" />
    </div>
  </div>
</section>