.our-collection {
  background-color: var(--prymary-color);
}

.our-collection-tittle {
  font-family: Manrope;
  font-style: normal;
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
  text-align: center;
}

.card-name {
  font-family: Manrope;
  font-style: normal;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 18px;
}

.price {
  font-family: Manrope;
  font-style: normal;
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-top: 8px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  width: 100%;
}

.foto-card {
  border-radius: 4px;
}

/*-----  MOBILE VERSION  ------ */

@media screen and (max-width: 767px) {
  .our-collection .container {
    max-width: 375px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-position: 0 307px;
    background-image: url(../img/collection/collection-fon-mob.png);
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2) {
    .our-collection .container {
      background-size: 72px 177px;
      background-image: url(../img/collection/collection-fon-mob@2x.png);
    }
  }

  @media screen and (max-width: 374px) {
    .our-collection .container {
      background-image: none;
    }
  }
}

/* -------------------------------- */

/*----- TABLE VERSION --------- */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .our-collection .container {
    max-width: 768px;
    padding-bottom: 100px;
    padding-left: 32px;
    padding-right: 32px;
    background-repeat: no-repeat;
    background-position: 0 220px;
    background-image: url(../img/collection/collection-fon-tb.png);
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2) {
    .our-collection .container {
      background-size: 114px 300px;
      background-image: url(../img/collection/collection-fon-tb@2x.png);
    }
  }

  .our-collection-tittle {
    font-size: 44px;
    line-height: 1.455;
  }

  .card-name {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    font-size: 18px;
  }

  .card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }

  .card {
    width: 342px;
  }
}

/* ------------------------------ */

/* ----- DESKTOP VERSION ------ */
@media screen and (min-width: 1280px) {
  .our-collection .container {
    width: 1280px;
    padding-bottom: 150px;
    padding-left: 99px;
    padding-right: 99px;
    background-repeat: no-repeat;
    background-position: 0 200px;
    background-image: url(../img/collection/collection-fon-ds.png);
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2) {
    .our-collection .container {
      background-size: 169px 300px;
      background-image: url(../img/collection/collection-fon-ds@2x.png);
    }
  }

  .card-name {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    font-size: 18px;
  }

  .card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
  }

  .card {
    width: 347px;
  }
}

/* ---------------------------- */
